apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: r7-prod

resources:
  - ../../base

images:
  - name: docker.io/TU_USUARIO_DOCKERHUB/backend-r7
    newTag: prod-initial

patches:
  - target:
      kind: Deployment
      name: backend
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
