apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: r7-qa

resources:
  - ../../base

images:
  - name: docker.io/retailfactory/backend-r7
    newTag: qa-initial

patches:
  - target:
      kind: Deployment
      name: backend
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
